
/*=================== SIDEBAR ===================*/

aside{
  height: 100%;

  user-select: none;
}

aside .top{
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

aside .logo > a > img{
  width: 33px;
}

aside .logo h3{
  font-family: 'Satisfy', cursive;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--color-dark);
}

aside .sidebar{
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  
  height: 100%;
  
  
  position: relative;
  top: 1.6rem; 
}

aside .sidebar a span{
  font-size: 1.6rem;
  color: var(--color-info-dark);
}

aside .sidebar a {
  text-decoration: none;
  color: var(--color-info-dark);
  transition: all 300ms ease;
  
  margin-left: 2rem;
  height: 3.7rem;
  
  display: flex;
  align-items: center;
  position: relative;
  gap: 1rem;
}

aside .sidebar a.active{
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
}

aside .sidebar a.active:before{
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}


aside .sidebar a.active span{
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a > span{
  transition: all 300ms ease;
}

aside .sidebar a:hover{
  color: var(--color-primary);
} 

aside .sidebar a:hover span{
  color: var(--color-primary);
  margin-left: 1rem;
} 

/*=================== MAIN ===================*/

#date-display{
  font-weight: 600;
  color: var(--color-dark);
  user-select: none;
}

#balance{
  margin-top: 2rem;
  margin-bottom: 2rem;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr; /*or repeat(1fr, 3)*/
  grid-auto-flow: column;
  gap: 2rem;
}

.card{
  background: var(--color-white);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  min-width: 200px;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}
.card:hover{
  box-shadow: none;
}

.card.total{
  background-color: var(--color-primary) ;
}

.card.total h3, .card.total > p{
  color: white;
}

.card h3{
  font-weight: normal; 
  font-size: 1rem;
  color: var(--color-dark);
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card h3 > img{
  margin-left: 1rem;
}

.card > p{
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
  display: block;
  
  color: var(--color-dark);
}

.card img{
  user-select: none;
}

.card h3 > span{
  user-select: none;
}

/*=================== SECTION TRANSACTIONS ===================*/

.table-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.table-top h2{
  user-select: none;
}

main .last-transactions > h2{
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 4rem;
  color: var(--color-dark);
}

main .last-transactions h2{
  margin-bottom: 0.8rem;
  color: var(--color-dark)
}
main .last-transactions table{
  background-color: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: left;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .table-container:hover table{
  box-shadow: none;
}

table thead th{
  text-align: left;
  color: var(--color-dark);
  padding: 1rem;

  user-select: none;
}

table tbody td{
  height: 2.8rem;
  border-bottom: 1px solid var(--color-light);
  color: var(--color-dark-variant)
}

table tbody tr:last-child td{
  border: none;
}

table tbody td > span{
  cursor: pointer;
}

td{
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 1.3rem;
}

td.expense{
  color: var(--color-red);
}

td.income{
  color: var(--color-green);
}

.remove-transaction{
  cursor: pointer;
  user-select: none;
}

/*==================== RIGHT ====================*/

.right .top{
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.right .top button{
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.top button span{
  color: var(--color-dark);

}

.right .theme-toggler{
  background: var(--color-light);
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: 0.50rem;

  user-select: none;
}

.theme-toggler > span{
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
  cursor: pointer;

  transition: all 100ms ease-in;
}

.theme-toggler span.active{
  background: var(--color-primary);
  color: white;
  border-radius: 0.50rem;
}

.analytics{
  background: var(--color-white);
  padding: 2rem;
  border-radius: 2rem;
  margin-top: 2.60rem;
}

.analytics h3{
  margin-bottom: 1rem;
  font-size: 1.3rem;
  color: var(--color-dark);

  user-select: none;
}

.analytics{
 box-shadow: var(--box-shadow);
 transition: all 300ms;
}

.analytics:hover{
 box-shadow: none;
}

.legendBox{
  width: 100px;
}

canvas{ 
  width:280px !important;
  height:300px !important;
}
