

/*Responsive ================*/
@media (min-width: 1400px){
  .container{
    max-width: 1600px;
    margin: 0 auto;
    gap: 4rem;
    grid-template-columns: 14rem auto auto;
  }
}

@media (min-width: 1376px){
  .container{
    grid-template-columns: 14rem auto 23rem;
  }
}

/* 1376 x 768 */
@media (max-width: 1376px){
  .container{
    grid-template-columns: 8rem auto 24rem;
  }

  #balance{
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }

  .right {
    position: absolute;
    right: 2rem;
    top: 0;
  }

  .analytics{
    display: block;
  }

  aside .logo h3{
    display: none;
  }
  
  aside .sidebar > a > p{
    display: none;
  }

  aside{
    width: 6rem;
  }

  aside > .top .logo img{
    width: 35px;
    height: 35px;
    margin-left: 1.8rem;
  }
}

@media (max-width: 1128px){
  
  .analytics{
    display: none;
  }

  
  .container{
    gap: 1rem;
    grid-template-columns: 7rem auto;
  }
  
  .table-top{
    margin-bottom: 1.4rem;
  }

  .table-top button#newTransaction{
    padding: .70rem 1rem;
    font-size: 0.9rem;
  }

  main .last-transactions h2{
    font-size: 1.1rem;
  }

  .addTransactionMobileButton #newTransactionMobile{
    display: none;
  }

  #date-display{
    font-size: 1.2rem;
  }
  
}

@media (max-width:800px){
  html{
    font-size: 12px;
  }
 
  .container{
    grid-template-columns: 1fr;
  }

  #balance{
    grid-template-columns: 1fr;
    grid-auto-flow: row;
  }
  
  aside .logo h3{
    display: block;
  }

  aside{
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    /* use js to show the aside */
    display: none;
  }

  aside.active{
    display: block;
    position: fixed;
    width: 18rem;
    z-index: 101;
    box-shadow: var(--box-shadow);
    animation: Sidebar 400ms ease forwards;
  }
  
  @keyframes Sidebar{

    to{
      left: 0;
    }
  }

  .close{
    display: block;
    color: var(--color-dark);
    margin-top: 0.9rem;
  }

  aside .sidebar > a > p{
    display: block;
  }

  .top{
    display: none;
  }

  aside .sidebar{
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    position: relative;
    top: 1.6rem; 
  }
  
  .right .top{
    position: fixed;
    top: 0;
    left: 0;

    padding-top:0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top .theme-toggler{
    width: 4.4rem;
    position: absolute;
    right: 2rem;
  }
  
  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-danger);
    position: absolute;
    left: 2rem;
  }

  .right .top button span{
    font-size: 2rem;
  }

  
  .table-top button#newTransaction{
    display: none;
  }

  .addTransactionMobileButton #newTransactionMobile{
    padding: 0.5rem;
    display: flex;
    align-items:center;
    background: var(--color-primary);
    color: white;
    position: fixed;
    right: 8%;
    z-index: 1;
    bottom: 5%;
  }

  .addTransactionMobileButton #newTransactionMobile:hover{
    filter: brightness(1.3);
  }

  .table-top h2{
    margin-left: 1rem;
  }

  .table-container{
    padding: 0rem;
    background-color: var(--color-background);
  }
}

@media (max-width: 542px){
  main .last-transactions table{
   padding: 0rem;
   margin: 0rem;
   box-shadow: none;
   background-color: transparent;
   overflow: scroll;


   border-collapse: collapse;
   width: 100%;

  }

 .remove-transaction {
  width: 1.5rem;
 }
}