
/*============== Modal ==============*/
.modalTop{
  display: flex;
  align-items:center;
  justify-content: space-between;

  margin-bottom: 2rem;
}

#close-modal-btn{
  color: var(--color-dark);
  cursor: pointer;
}

.modal-overlay{
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,.7);

  position: fixed;
  top: 0;
  bottom: 0;

  /* modal box - align center */
  display: flex;
  align-items: center;
  justify-content: center;

  /*hidden modal*/
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.modal-overlay.active{
  opacity: 1;
  visibility: visible;
}

.modal{
  background: var(--color-background);
  padding: 2.4rem;
  width: 90%;
  max-width: 440px;
  border-radius: 2rem;
}

.modal input{
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--color-white);
  color: var(--color-dark);
}

.modal input:last-child{
  margin-top: 2rem;
}

.modal h2{
  color: var(--color-dark);
}

.modal small{
  color: var(--color-info-dark)
}

.modal button.save{
  border: none;
  background-color: var(--color-primary);
  color: white;
  width: 100%;
  transition: all 300ms ease;

  padding: 1rem 4rem;
  border-radius: .50rem;
  cursor: pointer
}

.modal button.save:hover{
  filter: brightness(0.9);
}

.modal a#cancelTransaction{
  padding: 1rem 4rem;
  border-radius: .50rem;
  width: 45%;
  background-color: var(--color-red);
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: all 300ms ease;

  display: flex;
  align-items:center;
  justify-content: center;
}

.modal a#cancelTransaction:hover{
  filter: brightness(0.9);
}

.input-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.buttons-income-expense{
  margin-top: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons-income-expense #incomeButton{
  padding: 1rem 4rem;
  border: 1px solid rgb(207, 207, 207);
  color: black;
  border-radius: .50rem;
  cursor: pointer;
  transition: all .3s ease;
  width: 47%;

  display: inline-flex;
  justify-content: center;
}


.buttons-income-expense #expenseButton{
  padding: 1rem 4rem;
  border: 1px solid rgb(207, 207, 207);
  border-radius: .50rem;
  color: black;
  cursor: pointer;
  transition: all .3s ease;
  width: 47%;

  display: inline-flex;
  justify-content: center;
}

.buttons-income-expense button.income{
  background: var(--color-green);
}

.buttons-income-expense button.expense{
  background: var(--color-red);
}

.actions{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1rem;
}


.addTransactionMobileButton #newTransactionMobile{
  display: none;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  user-select: none;
}
